<div class="container mt-3">
  <div class="row">
    <div class="col-lg-12">
      <form class="form-inline">
        <div class="col-lg-5 pl-0">
          <input
            type="text"
            name="origin"
            [(ngModel)]="direction.origin"
            (input)="getAutocomplete('origin')"
            class="form-control w-100"
            id="origin"
            (keyup.enter)="setDirection(0, 'origin')"
            placeholder="Type origin address...">
          <ul *ngIf="autocomplete.origin" class="autocomplete pl-0">
            <li class="autocomplete-item" *ngFor="let autocomplete of autocomplete.origin; let i = index" (click)="setDirection(i, 'origin')">
              {{autocomplete.description}}</li>
          </ul>
        </div>
        <div class="col-lg-5 pl-0">
          <input
            type="text"
            name="destination"
            [(ngModel)]="direction.destination"
            (keyup)="getAutocomplete('destination')"
            (keyup.enter)="setDirection(0, 'origin')"
            class="form-control w-100"
            id="destination"
            placeholder="Type destination address...">
          <ul *ngIf="autocomplete.destination" class="autocomplete pl-0">
            <li class="autocomplete-item" *ngFor="let autocomplete of autocomplete.destination; let i = index" (click)="setDirection(i, 'destination')">
              {{autocomplete.description}}
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-primary col-md-2" (click)="getDirectionMap()">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
        <app-loader *ngIf="!iframeUrl"></app-loader>
        <iframe *ngIf="iframeUrl" [src]="iframeUrl" frameborder="0"></iframe>
    </div>
  </div>
  <app-reviews [placeIDs]="placeIDs"></app-reviews>
</div>
